<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.mycompany.practiceajp.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServlet2</servlet-name>
        <servlet-class>com.mycompany.creatingservlets.MyServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServlet3</servlet-name>
        <servlet-class>com.mycompany.creatingservlets.MyServlet3</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/myservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServlet2</servlet-name>
        <url-pattern>/myservlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServlet3</servlet-name>
        <url-pattern>/myservlet3</url-pattern>
    </servlet-mapping>
</web-app>
